{{define "base"}}
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/local.css" />
        <script src="/static/scripts/jquery.min.js"></script>
        <script src="/static/scripts/bootstrap.min.js"></script>
        {{ template "head" .}}
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <h3 class="text-muted">Q3 Match Statistics</h3>
            </div>
        </div>
        <div class="container">
                {{ template "content" .}}
        </div>
    </body>
</html>
{{end}}

{{define "head"}}{{end}}
{{define "content"}}{{end}}
