{{define "base"}}
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/local.css" />
        <script src="/static/scripts/jquery.min.js"></script>
        <script src="/static/scripts/bootstrap.min.js"></script>
        {{ template "head" .}}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Q3 Stats</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{if .Active.Home}}active{{end}}"><a href="{{.Urls.Home}}">Home</a></li>
                        <li class="{{if .Active.Players}}active{{end}}"><a href="{{.Urls.Players}}">Players</a></li>
                        <li class="{{if .Active.Matches}}active{{end}}"><a href="{{.Urls.Matches}}">Matches</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            {{ template "content" .ContentData}}
        </div>
    </body>
</html>
{{end}}

{{define "head"}}{{end}}
{{define "content"}}{{end}}
