{{define "content"}}
<div class="container">
    <h3>General Stats</h3>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Players:</div>
        <div class="col-md-1">{{.Global.Players}}</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Matches:</div>
        <div class="col-md-1">{{.Global.Matches}}</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Maps:</div>
        <div class="col-md-1">{{.Global.Maps}}</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Frags:</div>
        <div class="col-md-1">{{.Global.Frags}}</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Suicides:</div>
        <div class="col-md-1">{{.Global.Suicides}}</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Rockets Launched:</div>
        <div class="col-md-1">{{.Global.RocketsLaunched}}</div>
    </div>

</div>
<div class="container">
    <h3>Players</h3>
    <a class="btn btn-default" role="button" href="players/new">Add</a>
</div>
<div class="container">
    <h3>Recent Matches</h3><a href="matches">See All</a>
    {{template "matchlist" .RecentMatches}}
</div>
{{end}}
