{{/* pass a slice of matchesViewMatchData as . */}}

{{define "matchlist"}}
<table class="table">
    {{if .}}
    <thead>
        <tr>
            <th>When</th>
            <th>Map</th>
            <th>Duration</th>
            <th>Mode</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>
                <a href="matches/{{- .DataHash}}">
                    {{.NiceDateTime}}
                </a>
            </td>
            <td>{{.Map}}</td>
            <td>{{.DurationDesc}}</td>
            <td>{{.Type}}</td>
        </tr>
        {{end}}
    </tbody>
    {{else}}
    No matches to show
    {{end}}
</table>
{{end}}
