{{define "content"}}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th colspan="4">General</th>
            <th colspan="8">Weapons</th>
            <th colspan="6">Items</th>
        </tr>
        <tr>
            <th>Player</th>
            <!-- general -->
            <th>Kills</th>
            <th>Deaths</th>
            <th>Suicides</th>
            <th>Score</th>
            <!-- weapons -->
            <th>G</th><!-- gauntlet -->
            <th>MG</th><!-- machinegun -->
            <th>SG</th><!-- shotgun -->
            <th>PG</th><!-- plasmagun -->
            <th>GL</th><!-- grenade launcher -->
            <th>RL</th><!-- rocket launcher -->
            <th>LG</th><!-- lightning gun -->
            <th>RG</th><!-- railgun -->
            <!-- items -->
            <th>GA</th><!-- green armor -->
            <th>YA</th><!-- yellow armor -->
            <th>RA</th><!-- red armor -->
            <th>MH</th><!-- mega health -->
            <th>Q</th><!-- quad damage -->
            <th>CS</th><!-- combat suit -->
        </tr>
    </thead>
    {{range .Players}}
    <tr>
        <td>
            {{if .PlayerID}}
            <a href="players/{{- .PlayerID}}">
                {{.Alias}}
            </a>
            {{else}}
            {{.Alias}}
            {{end}}
        </td>
        <!-- general stats -->
        {{with .GeneralStats}}
        <td>{{.Kills}}</td>
        <td>{{.Deaths}}</td>
        <td>{{.Suicides}}</td>
        <td>{{.Score}}</td>
        {{end}}
        <!-- weapon stats -->
        {{with .Weapons}}
        {{template "weapon" .G}}
        {{template "weapon" .MG}}
        {{template "weapon" .SG}}
        {{template "weapon" .PG}}
        {{template "weapon" .GL}}
        {{template "weapon" .RL}}
        {{template "weapon" .LG}}
        {{template "weapon" .RG}}
        {{end}}
        <!-- item stats -->
        {{with .Items}}
        {{template "item" .GA}}
        {{template "item" .YA}}
        {{template "item" .RA}}
        {{template "item" .MH}}
        {{template "item" .Q}}
        {{template "item" .CS}}
        {{end}}
    </tr>
    {{end}}
</table>
{{end}}

{{define "weapon"}}
{{if or .Shots .Hits}}
<td data-toggle="tooltip" data-placement="left"
    data-container="body"
    title="Shots: {{.Shots}} Hits: {{.Hits}}">{{.Hits}}</td>
{{else}}
<td>-</td>
{{end}}
{{end}}

{{define "item"}}
<td data-toggle="tooltip" data-placement="left"
    data-container="body"
    title="{{.Type}}">{{.Pickups}}</td>
{{end}}

{{define "head"}}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{{end}}
