{{define "content"}}
<h3>Recent Matches</h3>

<table class="table">
    {{if .Matches}}
    <tr>
        <th>When</th>
        <th>Map</th>
        <th>Duration</th>
        <th>Mode</th>
    </tr>
    {{range .Matches}}
    <tr>
        <td>
            <a href="matches/{{- .DataHash}}">
            </a>
        </td>
        <td>{{.Map}}</td>
        <td>{{.DurationDesc}}</td>
        <td>{{.Type}}</td>
    </tr>
    {{end}}
                    {{.NiceDateTime}}
    {{else}}
    No matches to show
    {{end}}
</table>
{{end}}
