a, a:active, a:visited {
    text-decoration: none;
    color: #0000ff;
}

a:hover, a:focus {
    text-decoration: underline;
}

body,div,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
    font-family: verdana, helvetica, arial, sans;
//    font-size: 95%;
}

div.one-large {
    margin: 0px auto;
    padding: 0px;
    width: 80%;
}

div.recent-matches {
    width: 80%;
    border: 1px solid black;
    float: left;
    padding: 5px;
}

div.players-list {
    width: 15%;
    float: left;
    padding: 5px;
    margin-left: 10px;
}

div.player-weapons-list {
    width: 40%;
    float: left;
    padding: 0px;
}

div.player-items-list {
    width: 40%;
    float: left;
    padding: 0px;
}

table {
    background-color: #eeeeee;
    padding: 5px;
}

th,td {
    text-align: center;
}

td.left-aligned {
    text-align: left;
}

td {
//    border-top: solid 1px black;
    border-bottom: solid 1px black;
//    border: solid 1px black;
}

th.rank {
    width: 5%;
}

th.player-name {
    width: 10%;
}

table.wide {
    width: 100%;
}

img.dark-background {
    background-color: #333333;
    padding: 1px;
}

img {
    border: 0px;
}

/* for tooltips */
.tooltip {
    background: black;
    color: #ffffff;
    display: none;
    font-size: 12px;
    padding: 10px;
}

/* for tabs */
.panes .pane {
    display: none;
}

.tabs {
    list-style: none;
    margin: 0 !important;
    padding: 0;
    height: 30px;
    border-bottom: 1px solid black;
}
.tabs a {
    text-decoration: none;
    color: #ffffff;
}

.tabs li {
    float: left;
    text-indent: 0;
    padding: 2px;
    margin: 2px; !important;
    list-style-image: none !important;
    background-color: #333333;
}

.tabs .current {
    background-color: #ffffff;
    color: #000000;
}

td .score {
    font-weight: bold;
    color: #ff0000;
}

/* tables */
/*table.sortable thead tr {
    cursor: pointer;
}
*/
table.sortable thead tr .header {
/*    text-align: ;*/
    background-image: url(images/sort-both.gif);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

table.sortable thead tr .headerSortUp {
    background-image: url(images/sort-desc.gif);
}

table.sortable thead tr .headerSortDown {
    background-image: url(images/sort-asc.gif);
}

/*table.sortable thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
*/